# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.env.*
venv/
.venv/
venv*/

# Virtual envs and pip
.Python
pip-log.txt

# Logs
*.log
logs/

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints

# Build / packaging
dist/
build/
*.egg-info/